@font-face {
    font-family: 'SFProText';
    src: url('./SF-Pro-Text-Ultralight.otf') format('opentype');
}

:root {
    --right-button-background-color: rgb(49, 33, 7);
    --right-button-background-clicked: rgb(25, 16, 4);
    --right-button-font-color: rgb(240, 160, 80);
    --right-button-font-clicked: rgb(221, 87, 81);
    --left-button-background-color: rgb(51, 51, 51);
    --left-button-background-clicked: rgb(26, 26, 26);
}

body {
    font-family: 'SFProText';
    /* font-weight: 10; */
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 100vw;
    padding: 5px 10px;
    color: white;
    text-align: center;
    background-color: black;
}

.wrapper-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-variant-numeric: tabular-nums;
    font-size: 5rem;
}

.wrapper-display p {
    margin: 0px;
    padding-top: 4rem;
}

.wrapper-control {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-control button {
    font-size: 1rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 0rem 1rem;
}

.btn-start {
    outline: var(--right-button-background-color) solid 2px;
    border: 3px solid black;
    background-color: var(--right-button-background-color);
}

.btn-start.start {
    color: var(--right-button-font-color);
}

.btn-start.pause {
    color: var(--right-button-font-clicked);
}

.btn-start:active {
    background-color: var(--right-button-background-clicked);
}

.btn-lap {
    outline: var(--left-button-background-color) solid 2px;
    border: 3px solid black;
    color: white;
    background-color: var(--left-button-background-color);
}

.btn-lap:active {
    background-color: var(--left-button-background-clicked);
}

.wrapper-record {
    overflow: scroll;
    border-top: 0.5px solid grey;
    height: 40vh;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding: 0px;
}

li {
    min-height: 4rem;
    border-bottom: 0.5px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

li p {
    font-variant-numeric: tabular-nums;
    margin: 1rem 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}